<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">@ngrx demo</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <add-item></add-item>
            <sort-pick></sort-pick>
        </div>
    </div>
    <div class="container">
        <item-list></item-list>
    </div>
</nav>

<div class="container main-container">
    <step-list></step-list>
</div>
