.step-item-list {
    padding-top: 20px;
    text-align: center;
    position: relative;
    left: -86px;
}

li.step-index,
li.step-item {
    list-style-type: none;
    display: inline-block;
    background-color: grey;
    border: thin silver solid;
    margin: 0 10px;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
}

li.step-index {
    background-color: white;
    color: black;
    width: 150px;
    border: none;
    text-align: right;
}
